@import "../../foundation/all";

.wrapper-home{
    width: 100vw;
    height: 100vh;
    background-image: url("../../../assets/img/home-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}