@import "../../foundation/all";
@import "../format";

$color_wrapper-icon: #c1c1c1;

.card-select {
  width: 100%;
  margin-bottom: 1rem;
  background-color: $body-bg-color;
  border-radius: 0.25rem;
  padding: 0 0.875rem;
  min-height: calc(3rem - 4px);
  max-height: auto;
  box-shadow: map-get($shadows, "base");
  .card-select-header {
    height: calc(3rem - 4px);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      font-size: calc(1rem - 2px);
      font-weight: $fw-semibold;
      color: $dark;
    }
    .symbol-icon {
      position: relative;

      .util-icon,
      .default-icon {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 1rem;
        }
      }
      .util-icon {
        position: absolute;
        right: 1.5rem;
      }
      .util-icon:hover,
      .default-icon:hover {
        background-color: $color_wrapper-icon;
        cursor: pointer;
      }
    }
  }
  .card-select-content {
      padding-bottom: calc(1rem - 1px);
  }
}




